* {
    margin: 0;
}

button {
    display: block;
}

#clear {
    height: 12vw;
    width: 12vw;
    border-radius: 5%;
    margin: auto;
    background-color: black;
    color: red;
}

#showHide {
    height: 12vw;
    width: 12vw;
    border-radius: 5%;
    margin: 20vh auto auto auto;
}

#deck {
    height: 30vh;
    width: 23.1818181816vh;
    margin: calc(50vh - 24vw) auto auto auto;
}

canvas {
    margin-bottom:-5px;
}

#left {
    width: 70vw;
    height: 100vh;
    float: left;
}

#right {
    width: 30vw;
    height: 100vh;
    float: left;
}