body {
	background-color: black;
}

#gameboard {
	border: 1px solid black;
	display:grid;
	grid-template-columns:60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
	grid-template-rows:60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
	justify-content:center;
	width:600px;
	height:600px;
	
	margin-left:auto;
	margin-right:auto;
}

#gameboard div {
	background-color: #000000;
	/*background-repeat: no-repeat;
	background-size:cover;*/
}

.planet {
	background-image:url("images/planet.png");
}
}
.planet2 {
	background-image:url("images/obstacle1.png");
}
.obstacle1 {
	background-image:url("images/obstacle1.png");
}
.flag {
	background-image:url("images/cube.png");
}
.forcefieldup {
	background-image:url("images/forcefieldup.png");
}
.forcefieldside {
	background-image:url("images/forcefieldside.png");
}
.enemyup {
	background-image:url("images/enemyup.png");
}
.enemyright {
	background-image:url("images/enemyright.png");
}
.enemydown {
	background-image:url("images/enemydown.png");
}
.enemyleft {
	background-image:url("images/enemyleft.png");
}
.sphereup {
	background-image:url("images/sphereup.png");
}
.sphereright {
	background-image:url("images/sphereright.png");
}
.spheredown {
	background-image:url("images/spheredown.png");
}
.sphereleft {
	background-image:url("images/sphereleft.png");
}
.flagandsphere {
	background-image:url("images/cubeandsphere.png");
}
.torpedo {
	background-image:url("images/Star.png");
}

.message {
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.8);
    color:white;
    font-family: Verdana, sans-serif;
    font-size: 8em;
    vertical-align: top;
    text-align: center;
    line-height:100vh;
}

h1 {
	text-align:center;
	color: pink;
}
a {
	font-size:2em;
}
div {
	text-align:center;
}
img {
	width:150px;
	padding-left:50px;
}